* {
  margin: 0;
  padding: 0;
  font-family: "Arial"
}

.test {
  border: 5px solid red;
}

.game {
  height: 100vh;
  width: 100%;
}

h2 {
  color: white;
  display: flex;
  justify-content: space-around;
}

h1 {
  display: flex;
  justify-content: space-around;
}

.left-side {
   float: left;
   border: 4px solid black;
   height: 100vh;
   width: 20em;
   background: black;
 }

.match-counter {
  display: flex;
  justify-content: center;
  font-size: 5em;
  color: white;
  margin-top: 0;
}

.empty-match-box {
  border: 4px solid black;
  height: 6em;
  width: 5em;
  background: grey;
}

.three-box-top {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5em;
  margin-bottom: 1.5em;
}

.two-box-bottom {
  display: flex;
  justify-content: space-evenly;
}

.top-times p {
  display: flex;
  justify-content: center;
  color: white;
}

.top-times {
  margin-top: 10em;
}

.box-one {

}
.box-two {

}
.box-three {

}
.box-four {

}
.box-five {

}

.game-space {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  background: grey;
}

/*.flip-vertical-fwd {
	-webkit-animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.flip-vertical-bck {
	-webkit-animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
*/

.cards {
  border: 2px solid black;
  height: 13em;
  width: 10em;
  background: white;
  margin: 2em;
}

.cards p {
  display: flex;
  justify-content: center;
  margin-top: 23%;
  font-size: 7em;
  color: black;
}

.cards > * {
  pointer-events: none;
}

.card-1 {
  transform: rotate(15deg);
}

.card-2 {
  transform: rotate(-15deg);
}

.card-3 {
  transform: rotate(20deg);
}

.card-4 {
  transform: rotate(-25deg);
}

.card-5 {
  transform: rotate(-15deg);
}

.card-6 {
  transform: rotate(-25deg);
}

.card-7 {
  transform: rotate(15deg);
}

.card-8 {
  transform: rotate(50deg);
}

.card-9 {
  transform: rotate(-20deg);
}

.card-10 {
  transform: rotate(45deg);
}

.win-page {
  height: 100vh;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: space-around;
  color: black;
  font-family: Arial, sans-serif;
}

.win-info {

}

.inside-background {
  background-image: url("assets/beyonce-cropped.jpg");
  background-size: cover;
  opacity: 0.2;
}

.win-page-background {

}

.congrats-heading {
  font-size: 90px;
  font-weight: bold;
  padding-top: 200px;
}

.total-matches {
  text-align: center;
  font-size: 50px;
}

.final-win-time {
  text-align: center;
  font-size: 50px;
}

.win-page-btn {
  background-color: black;
  border: none;
  color: white;
  justify-content: center;
  font-size: 25px;
  font-weight: 200;
  margin: 40px 30px;
  padding: 17px;
  width: 250px;
}

.play-new-btns {
  display: flex;
  justify-content: center;
}

.selected {

}

.bey1 {
  background-image: url("assets/bey1.jpg");
  background-size: cover;
}

.bey2 {
  background-image: url("assets/bey2.jpg");
  background-size: cover;
}

.bey3  {
  background-image: url("assets/bey3.jpeg");
  background-size: cover;
}

.bey4  {
  background-image: url("assets/bey4.jpg");
  background-size: cover;
}

.bey5  {
  background-image: url("assets/bey5.jpg");
  background-size: cover;
}

.hidden {
  display: none;
}
